---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

import VueWelcome from '../components/VueWelcome.vue';
import ReactWelcome from '../components/ReactWelcome.jsx';
---

<Layout>
	<!-- <Welcome /> -->
	<p class="text-blue-500">Tailwind CSS is working!</p>
	<VueWelcome/>
	<ReactWelcome/>
	
</Layout>
