---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

import VueWelcome from '../components/VueWelcome.vue';
import ReactWelcome from '../components/ReactWelcome.jsx';
import AngularWelcome from '../components/welcome.component';
import SvelteWelcome from '../components/SvelteWelcome.svelte';
---

<Layout title="Data Binding Example">
	<!-- <Welcome /> -->
	<p class="text-blue-500">Tailwind CSS is working!</p>
	<VueWelcome/>
	<ReactWelcome client:only="react" />
	<AngularWelcome client:load />
	<SvelteWelcome />
</Layout>